TOKEN=
PREFIX=!
PORT=3000
COLOR=#FFFFFF
RCON_HOST=127.0.0.1
RCON_PORT=25575
RCON_PASSWORD=
WORLD_PATH=C:\\MC_SERVER\\server_2026\\world
CMI_DB_PATH=C:\\MC_SERVER\\server_2026\\plugins\\CMI\\cmi.sqlite.db
BOT_URL=http://127.0.0.1:3000/advancements
BALTOP_CHANNEL_ID=
BALTOP_MESSAGE_ID=
ADVTOP_CHANNEL_ID=
ADVTOP_MESSAGE_ID=
DM_LOG_CHANNEL_ID=
